ul {
	list-style: none
}

#intro {
	background-image: url(./images/Header-llustration-desktop.jpg);
}

footer {
	background-image: url(./images/illustration-1-contact-form-desktop.jpg), url(./images/illustration-3-contact-form-desktop.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: left bottom, right top;
	background-size: contain;
}

#about-me {
	background-image: url(./images/ill);
}

.circles {
	width: 50px;
	height: 50px;
	margin: auto
}

.squares {
	width: 50px;
	height: 50px;
	margin: auto
}

.thunders {
	width: 50px;
	height: 50px;
	margin: auto
}

#languages {
	margin-left: 290px;
}

.card-body {
	background-color: #D0D9D4;	
	;
}