*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

#intro {
  background-image: url(./images/Header-llustration-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

#works {
  margin-top: 5em;
}

#message {
  height: 114px;
}

footer {
  background-image: url(./images/illustration-1-contact-form-desktop.jpg), url(./images/illustration-3-contact-form-desktop.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  background-size: contain;
}

#about-me {
  background-image: url(./images/ill);
}

.circles,
.squares,
.thunders {
  width: 50px;
  height: 50px;
  margin: auto;
}

#languages {
  margin-left: 290px;
}

.card-body {
  background-color: #d0d9d4;
}
